<div class="author">
    <h1 class="author__heading">Search Results</h1>
</div>

<section articles>
    <ul class="article-ul">
       
        <% data.forEach(Post => { %>
        <li>
            <a href="/post/<%= Post._id %>">
            <span><%= Post.title %></span>
            <span class="article-list__date"><%= Post.createdAt.toDateString() %></span>
        </a>
        </li>
        <% }) %>
    </ul>
</section>